/* INDEX PAGE */

body {
    background: #dbd3d8;
    font-family: sans-serif;
}

img.background{
    width: 100%;
    height: 375px;
    object-fit: none;
    opacity: 80%;
}

h1 {
    position: sticky;
    text-align: center;
    font-family: sans-serif;
}

.container{
    position: static;
    background-color: #223843;
    color: #d77a61;
    padding-top: 20px;
}

.topnav {
    background-color: #223843;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
  }
  
  .topnav a:hover {
    background-color: #d77a61;
    color: black;
    font-family: sans-serif;
  }
  
  .topnav a.active {
    background-color: #d77a61;
    color: white;
    font-family: sans-serif;
  }

#welcome{
    position: relative;
    text-align: center;
    color: #d77a61;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: large;
    font-family: sans-serif;
}

#headshot {
    width: 140px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10%;
}

#message {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: none;
}


.center {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}

.center tr td:nth-child(2){
    width: 300px;
}

#powerlogo{
    width: 100px;
    height: 105px;
    border-radius: 20px;
    float: left; 
}

#c2logo{
    width: 100px;
    height: 105px;
    border-radius: 20px;
    float: left;
}

#wculogo{
    width: 100px;
    height: 105px;
    border-radius: 20px;
    float: left;
}

/* ------------ ABOUT PAGE ------------ */

.about_body{
    background-color: #223843;
    padding: 50px;
}

.topnav_about {
    background-color: #223843;
    overflow: hidden;
    font-family: sans-serif;
    padding: 10px;  
}

.topnav_about a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
  }
  
  .topnav_about a:hover {
    background-color: #d77a61;
    color: black;
    font-family: sans-serif;
  }
  
  .topnav_about a.active {
    background-color: #d77a61;
    color: white;
    font-family: sans-serif;
  }
  
.about_me_container{
    background: #dbd3d8;
    font-family: sans-serif;
    width: 50%;
    margin: auto;
    padding: 10px;
    
}