body {
    background: #dbd3d8;
    font-family: sans-serif;
}

img.background{
    width: 100%;
    height: 375px;
    object-fit: none;
    opacity: 80%;
}

h1 {
    position: sticky;
    text-align: center;
    font-family: sans-serif;
}

.container{
    position: static;
    background-color: #223843;
    color: #d77a61;
    padding-top: 20px;
}

.welcome{
    position: relative;
    text-align: center;
    color: #d77a61;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}

img.headshot {
    width: 140px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10%;
}


div.resume-timeline{
    text-align: center;
    font-family: sans-serif; 
}

img.powerlogo{
    width: 100px;
    height: 105px;
    border-radius: 20px;
}

img.c2logo{
    width: 100px;
    height: 105px;
    border-radius: 20px;
}

img.wculogo{
    width: 100px;
    height: 105px;
    border-radius: 20px;
}